In [35]:
import pandas as pd
import numpy as np

In [36]:
train = pd.read_excel("./Data/Data_Train.xlsx")
test = pd.read_excel("./Data/Data_Test.xlsx")

In [37]:
train.columns

Index(['Title', 'Author', 'Edition', 'Reviews', 'Ratings', 'Synopsis', 'Genre',
       'BookCategory', 'Price'],
      dtype='object')

In [38]:
train.drop(['Title', 'Author', 'Edition', 'Synopsis', 'Genre'], axis = 1, inplace=True)
test.drop(['Title', 'Author', 'Edition', 'Synopsis', 'Genre'], axis = 1, inplace=True)

In [39]:
train.head(2)

,Reviews,Ratings,BookCategory,Price
0,4.0 out of 5 stars,8 customer reviews,Action & Adventure,220.00
1,3.9 out of 5 stars,14 customer reviews,"Biographies, Diaries & True Accounts",202.93

In [40]:
train['Reviews'] = train['Reviews'].str.split(" ",n=1, expand=True)[0]
train['Ratings'] = train['Ratings'].str.split(" ",n=1, expand=True)[0]
train['Ratings'] = train['Ratings'].str.replace(",", "")

train['Reviews'] = train['Reviews'].str.split(" ",n=1, expand=True)[0]
train['Ratings'] = train['Ratings'].str.split(" ",n=1, expand=True)[0]
train['Ratings'] = train['Ratings'].str.replace(",", "")

train['Reviews'] = train['Reviews'].astype("float")
train['Ratings'] = train['Ratings'].astype("int")

In [41]:
test['Reviews'] = test['Reviews'].str.split(" ",n=1, expand=True)[0]
test['Ratings'] = test['Ratings'].str.split(" ",n=1, expand=True)[0]
test['Ratings'] = test['Ratings'].str.replace(",", "")

test['Reviews'] = test['Reviews'].str.split(" ",n=1, expand=True)[0]
test['Ratings'] = test['Ratings'].str.split(" ",n=1, expand=True)[0]
test['Ratings'] = test['Ratings'].str.replace(",", "")

test['Reviews'] = test['Reviews'].astype("float")
test['Ratings'] = test['Ratings'].astype("int")

In [42]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6237 entries, 0 to 6236
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Reviews       6237 non-null   float64
 1   Ratings       6237 non-null   int32
 2   BookCategory  6237 non-null   object
 3   Price         6237 non-null   float64
dtypes: float64(2), int32(1), object(1)
memory usage: 170.7+ KB

In [43]:
temp_train = pd.get_dummies(train['BookCategory'])
train = train.drop('BookCategory', axis=1)
train = train.join(temp_train)

temp_test = pd.get_dummies(test['BookCategory'])
test = test.drop('BookCategory', axis=1)
test = test.join(temp_test)

In [44]:
train.head(2)

,Reviews,Ratings,Price,Action & Adventure,"Arts, Film & Photography","Biographies, Diaries & True Accounts",Comics & Mangas,"Computing, Internet & Digital Media","Crime, Thriller & Mystery",Humour,"Language, Linguistics & Writing",Politics,Romance,Sports
0,4.0,8,220.00,1,0,0,0,0,0,0,0,0,0,0
1,3.9,14,202.93,0,0,1,0,0,0,0,0,0,0,0

In [45]:
X = train.drop('Price', axis=1).values
y = train['Price'].values

In [46]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [47]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [48]:
lr.score(X_test, y_test)

0.09677144001987514

In [49]:
print(lr.predict(X_train[1343].reshape(1,-1)))
print(y_train[1343])

[338.12758735]
499.0

In [50]:
y_pred = lr.predict(X_test)

In [51]:
1 - np.sqrt(np.square(np.log10(y_pred +1) - np.log10(y_test +1)).mean())

0.682749139427681

In [67]:
pred = lr.predict(test)

In [68]:
res = pd.DataFrame({"Price":pred})
res.columns

Index(['Price'], dtype='object')

In [69]:
res.to_csv("Submission.csv")